<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        [routerLink]="['/home']"
        aria-label="Volver a inicio"
        class="boton-volver-toolbar">
        <ion-icon name="arrow-back-outline" slot="start" />
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

@let tutorialAempezar = tutorial(); @if(tutorialAempezar){
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ tutorialAempezar.descripcion }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Código:</strong> {{ tutorialAempezar.codigo }}</p>
      <p><strong>Descripción:</strong> {{ tutorialAempezar.descripcion }}</p>
      <p><strong>Total pasos:</strong> {{ tutorialAempezar.totalPasos }}</p>
      <p><strong>Origami:</strong> {{ tutorialAempezar.origami.nombre }}</p>
      <p>
        <strong>Tipo Origami:</strong> {{ tutorialAempezar.origami.tipoOrigami
        }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block"
    color="primary"
    (click)="comenzarTutorial(tutorialAempezar.codigo)">
    Comenzar
  </ion-button>
</ion-content>

}
