<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        [routerLink]="['/home']"
        aria-label="Volver a inicio"
        class="boton-volver-toolbar">
        <ion-icon name="arrow-back-outline" slot="start" />
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Galería de Origamis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="origami-page">
  <div class="contenido-interno">


    <!-- Filtros -->
    <ion-segment [(ngModel)]="filtroEstado" value="todos">
      <ion-segment-button value="todos">Todos</ion-segment-button>
      <ion-segment-button value="sin-empezar">Sin empezar</ion-segment-button>
      <ion-segment-button value="en-ejecucion">En ejecución</ion-segment-button>
      <ion-segment-button value="finalizado">Finalizado</ion-segment-button>
    </ion-segment>

    <section class="galeria-origamis" *ngIf="origamisFiltrados().length > 0">
      <h2>Origamis disponibles</h2>
      <div class="lista-origamis">
        <article
          class="tarjeta-origami"
          *ngFor="let item of origamisFiltrados()"
          (click)="irATutorialDeOrigami(item.codigo, item.estadoProceso)"
          style="cursor: pointer"
          tabindex="0"
          role="button"
        >
          <img
            [src]="item.url || 'assets/iconos/sin-imagen.png'"
            [alt]="item.nombre"
            class="imagen-origami"
            loading="lazy"
          />
          <h3>{{ item.nombre }}</h3>

          <p class="estado-origami">
            Estado:
            <ion-badge [color]="item.estadoProceso | colorEstado">
              {{ item.estadoProceso | textoEstado }}
            </ion-badge>
          </p>

          <p *ngIf="item.descripcion">{{ item.descripcion }}</p>
        </article>
      </div>
    </section>

    <div class="mensaje-vacio" *ngIf="origamisFiltrados().length === 0">
      No hay origamis que coincidan con tu búsqueda.
    </div>
  </div>
</ion-content>
