<ion-content class="home-content" [fullscreen]="true">
  <!-- Botón de cerrar sesión -->
  <div class="logout-button">
    <ion-button expand="block" shape="round" (click)="logout()">
      Cerrar Sesión
    </ion-button>
  </div>

  <!-- Contenedor flexible y centrado -->
  <div class="main-container">
    <div class="grid-buttons">
      <div class="grid-item" (click)="goTo('historia')">
        <ion-icon name="newspaper-outline" size="large"></ion-icon>
        <ion-label>Historia Origami</ion-label>
      </div>
      <div class="grid-item" (click)="goTo('tutoriales')">
        <ion-icon name="book-outline" size="large"></ion-icon>
        <ion-label>Ver Tutoriales</ion-label>
      </div>
      <div class="grid-item" (click)="goTo('foro')">
        <ion-icon name="chatbox-ellipses-outline" size="large"></ion-icon>
        <ion-label>Foro</ion-label>
      </div>
      <div class="grid-item" (click)="goTo('perfil')">
        <ion-icon name="person-outline" size="large"></ion-icon>
        <ion-label>Perfil</ion-label>
      </div>
    </div>

    <!-- Imagen decorativa -->
   <!---- <img src="/assets/iconos/saludo2.gif" alt="Decoración inferior" class="bottom-image" />-->
    <img src="/assets/iconos/saludo3.gif?v=2" alt="Decoración inferior" class="bottom-image" />

  </div>
</ion-content>
