.registro-background {
  --background: #fef1db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.registro-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 0 16px;
}

.logo-container {
  margin-bottom: 10px;
  img {
    width: 100px;
    height: auto;
  }
}

.registro-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 10px;
  border-radius: 8px;
  --background: #f2f2f2;
  --color: #000;
  --highlight-color-focused: #ffa500;
}

ion-label {
  color: #333;
}

ion-input {
  color: #000;
}

ion-button {
  margin-top: 10px;
}

ion-note {
  font-size: 0.8rem;
  margin-left: 10px;
}
