<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="esAdmin; else sinPermisos">
    <ion-list lines="none">
      <ion-item button *ngFor="let item of items" (click)="navegar(item)">
        <ion-label>{{ item.nombre }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #sinPermisos>
    <ion-text color="danger">
      <p class="ion-text-center">No tienes permisos para acceder a esta sección.</p>
    </ion-text>
  </ng-template>
</ion-content>
